#container {
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#stoperica {
    font-size: 30px;
}